@using App.Contracts
@model App.Models.WeatherModel

<table class="table">
    <thead>
    <th scope="col">@nameof(WeatherDto.Weather)</th>
    <th scope="col">@nameof(WeatherDto.Temperature)</th>
    <th scope="col">@nameof(WeatherDto.Date)</th>
    </thead>
    <tbody>
    @foreach (var weatherDto in Model.WeatherDtos)
    {
        <tr>
            <td>@weatherDto.Weather</td>
            <td>@weatherDto.Temperature</td>
            <td>@weatherDto.Date</td>
        </tr>
    }
    </tbody>
</table>